<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Blackbox Database</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/basics.css" />
    </head>
    <body>
        <%- include('./layouts/header'); -%>
        <main>
            <div class="contents">
                <div id="board_title">
                    <span><%= board_title %></span>
                </div>
                <div id="board_menu">
                    <div class="option_button">전체보기</div>
                    <div class="option_button">내가 쓴 글 보기</div>
                    <div class="option_button" id="search">
                        <span>검색하기</span>
                        <span id="search_input"><input type="text" placeholder="검색어를 입력하세요"/></span>
                    </div>
                </div>
                <div id="board_content_container">
                    <% if(locals.logined_user) { %>
                        <div id="new_post">
                            <button onclick="location.href='/post/write'">새 글 작성</button>
                        </div>
                    <% } %>
                    <% for (var i=0; i<locals.posts.length; i++){ %>
                        <div class="post">
                            <span class="post_date"><%= moment(posts[i].posted_date).format('YYYY-MM-DD HH:mm:SS') %></span>
                            <a href="/post/view/<%=locals.posts[i]._id%>"><span class="post_title"><%= posts[i].title %></span></a>
                            <span class="post_writer"><%= posts[i].writer %></span>
                        </div>
                    <% } %>
                    <div id="post_remote">
                        <div class="post_remote_button">◁</div>
                        <div class="post_remote_button">1</div>
                        <div class="post_remote_button">2</div>
                        <div class="post_remote_button">▷</div>
                    </div>
                </div>
            </div>
        </main>
        <%- include('./layouts/footer'); -%>
    </body>
</html>