<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Blackbox Database</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/basics.css" />
    </head>
    <body>
        <style>
            .post_container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .post_container .post_title, .post_container .post_metadata, .post_container .post_content, .comment_container {
                padding: 0 1em;

                width: 55em;
                box-sizing: border-box;

                border-bottom: solid 1px rgb(0, 0, 0);
            }

            .post_container .post_title {
                font-weight: bold;
            }

            .post_container .post_metadata {
                text-align: right;
                color: gray;
            }

            .post_container .post_content {
                min-height: 15em;
            }

            .post_container .post_actions {
                display: flex;
                justify-content: flex-end;

                margin-top: 5px;

                width: 55em;
                
                border-bottom: solid 1px black;
            }

            .post_container .post_actions button {
                margin: 0 0.5em;
                padding: 0.5em 1em;

                background-color: white;
                border: none;

                font-size: 1.5vh;
            }

            .post_container .post_actions button {
                cursor: pointer;
            }

            .new_comment {
                display: flex;
                flex-direction: column;

                padding-bottom: 1em;

                border-bottom: solid 1px gainsboro;
            }

            .new_comment_inputs {
                display: flex;
            }

            .new_comment_inputs form {
                width: 100%;
            }

            .new_comment_inputs textarea {
                resize: none;

                width: 100%;
                box-sizing: border-box;
                
                border: solid 1px black;
            }

            .new_comment_inputs input {
                margin-left: 0.1em;

                box-sizing: border-box;

                border: solid 1px black;
                background-color: white;

                font-size: 10px;

                white-space: nowrap;
            }

            .hidden {
                display: none !important;
            }

            .comment {
                padding: 1em 0;
                border-bottom: solid 1px gainsboro;
            }

            .comment:last-child {
                border: none;
            }
        </style>
        <%- include('./layouts/header'); -%>
        <main>
            <div class="post_container">
                <div class="post_title">
                    <p><%= locals.post_data.title %></p>
                </div>
                <div class="post_metadata">
                    <p><%= locals.post_data.writer %>, <%= locals.moment(locals.post_data.posted_date).format('YYYY-MM-DD HH:mm:SS') %></p>
                </div>
                <div class="post_content">
                    <p><%= locals.post_data.content %></p>
                </div>
                <div class="post_actions <% if(locals.logined_user !== locals.post_data.writer) { %> <%= 'hidden' %> <% } %>">
                    <button id="post_delete" post_id="<%= locals.post_data._id %>">삭제</button>
                    <button id="post_edit">수정</button>
                </div>
                <div class="comment_container">
                    <div class="new_comment <% if(!locals.logined_user) { %> <%= 'hidden' %> <% } %>">
                        <p><%= locals.logined_user %>: </p>
                        <form class="new_comment_inputs" action="/add_comment/<%= locals.post_data._id %>" method="POST">
                            <textarea name="comment_content"></textarea>
                            <input type="submit" value="달기" id="add_comment">
                        </form>
                    </div>
                    <div class="comments_list">
                        <% for (var i=0; locals.comments && i<locals.comments.length; i++){ %>
                            <div class="comment">
                                <span><%= locals.comments[i].writer %></span>
                                <span>(<%= locals.moment(locals.comments[i].written_date).format('YYYY-MM-DD HH:mm:SS') %>)</span>
                                <p><%= locals.comments[i].contents %></p>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </main>
        <%- include('./layouts/footer'); -%>
        <script>
            const post_delete = document.querySelector('#post_delete');
            const post_edit = document.querySelector('#post_edit');
            const comment_add = document.querySelector('#add_comment');

            post_delete.addEventListener('click', () => {
                window.location.href='/view/' + post_delete.getAttribute('post_id') + '/delete'
            });
        </script>
    </body>
</html>